.breadcrumb-wrapper {
  padding: 16px 24px;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}

.breadcrumb {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #333;
}

.breadcrumb a {
  color: #0073aa;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span {
  color: #555;
}
